[buildout]
extends = versions.cfg

find-links =
    https://dist.plone.org/release/4.3.3/
    http://dist.plone.org/thirdparty/


develop = .

index = https://pypi.python.org/simple

unzip = true
versions = versions

parts = instance

package-name = 

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    plone.app.upgrade
 
zcml =
    ${buildout:package-name}
